/* Estilos generales */
body {
    margin: 0;
    padding: 0;
    display: flex;
    min-height: 100vh;
}

/* Estilos del menú */
.menu {
    position: fixed;
    left: 0;
    top: 0;
    width: 200px;
    height: 100%;
    background-color: #37474f; /* Fondo más oscuro */
    padding-top: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5); /* Sombra sutil para darle profundidad */
}

.menu h2 {
    font-family: "Homer Simpson UI"; /* Fuente específica para el menú */
    text-align: center;
    color: #ecf0f1; /* Color blanco para el título */
    font-size: 24px;
    margin-bottom: 20px;
    border-bottom: 1px solid #000000; /* Línea decorativa debajo del título */
    padding-bottom: 10px;
    padding: 15px 20px;
}

/* Estilos de enlaces en el menú */
.menu a {
    font-family: "Homer Simpson UI"; /* Fuente específica para los enlaces */
    display: block;
    padding: 15px 20px; /* Más espacio en los enlaces */
    text-decoration: none;
    color: #ecf0f1; /* Color blanco para mejor contraste */
    margin-bottom: 10px;
    font-size: 18px; /* Tamaño de fuente más grande */
    transition: background-color 0.3s ease, padding-left 0.3s ease; /* Efecto suave al hacer hover */
}

.menu a:hover {
    background-color: #000000; /* Color verde para el hover */
    padding-left: 30px; /* Efecto de desplazamiento a la derecha */
    text-decoration: none;
    color: #ecf0f1;
}

/* Estilos de SubMenu */
.menu-item {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #ecf0f1;
    margin-bottom: 5px;
}

.submenu {
    padding-left: 20px; /* Indent the submenu */
    margin-bottom: 5px;
}

.submenu a {
    color: #ecf0f1; /* Color for submenu items */
    text-decoration: none;
    font-size: 12px;
}

/* Estilos del contenido */
.content {
    font-family: "Homer Simpson UI"; /* Fuente específica para el contenido */
    flex: 1;
    padding: 15px;
    text-align: center;
    margin-left: 200px; /* Ajusta el contenido para dejar espacio al menú fijo */
}

.contentregistro {
    flex: 1;
    padding: 15px;
    margin-left: 200px; /* Ajusta el contenido para dejar espacio al menú fijo */
    position: relative;
}

.contentregistro h2 {
    text-align: center;
    font-size: 25px;
}

 .custom-width {
        max-width: 30px;
}

/* Estilo Pagina JSP Detalle Chofer */
.contentregistroDetalleChofer {
	display: flex;              /* Usar flexbox */
    flex-direction: column;     /* Organiza el contenido en columna */
    align-items: flex-start;        /* Centra el contenido horizontalmente */
    padding: 15px;
    margin-left: 200px; /* Ajusta este margen si es necesario */
    position: relative;
    width: calc(100% - 200px); /* Asegúrate de que el ancho sea correcto */
}

.h2-container-chofer{
	width: 100%; /* Asegura que el texto ocupe el 100% del ancho disponible */
    text-align: center; /* Centra el texto */
    font-family: "a r i a l", serif;
}

.h3-container-chofer {
    display: flex; /* Permitir apilamiento vertical de h3 */
    flex-direction: column; /* Alinear h3 en columna */
    margin: 0; /* Eliminar margen superior por defecto */
}

.h3-container-chofer h3{
	font-size: 120%;
    font-family: "a r i a l", serif;
}

.bordered-section-Chofer {
	border: 2px solid #ccc; /* Color y grosor del borde */
    margin-right: 15px; /* Espaciado entre el borde y los h3 */
    width: 300px; /* Ajusta el ancho del contenedor del borde */
    align-self: flex-start; /* Alinea el contenedor a la izquierda */
    display: flex; /* Hacer que el contenedor del borde sea un contenedor flexible */
}

.detalle-chofer-image {
    width: 100%; /* Hacer que la imagen ocupe el 100% del ancho del contenedor */
    height: auto; /* Mantiene la proporción de la imagen */
}

.flex-container-detalle-chofer {
    display: flex; /* Hacer que el contenedor de h3 y borde sea flexible */
    align-items: center; /* Alinear elementos en la parte superior */
    margin-top: 15px; /* Espaciado superior entre h2 y flex-container */
    justify-content: flex-start; /* Asegura que todo esté alineado a la izquierda */
}

/* Estilos de las secciones del formulario */
.form-section {
	margin-bottom: 30px; /* Aumenta el espacio externo entre secciones */
    padding: 20px; /* Aumenta el espacio interno */
    border: 2px solid #ccc; /* Borde gris de 2px */
    border-radius: 5px; /* Bordes redondeados */
    width: 300%; /* O puedes usar un valor fijo como 600px */
    max-width: 800px; /* Máximo ancho para que no sea demasiado grande */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra sutil para darle profundidad */
}

.form-section h3 {
    margin-bottom: 8px;
    color: #333; /* Color del encabezado */
    font-size: 20px;
}

.form-section label {
    display: block;
    margin-bottom: 5px;
}

.form-section input[type="text"],
.form-section input[type="email"],
.form-section input[type="number"] {
 	width: 100%;
    padding: 2px;
    margin-bottom: 1px;
    border: 2px solid #ccc;
    border-radius: 2px;
    
}

/*Estilo tabla */
.table {
    table-layout: fixed; /* Mantiene el tamaño de la tabla */
    width: 60%; /* Ajusta el ancho de la tabla */
    margin: auto; /* Centra la tabla en la página */
}

.table th, .table td {
    width: 100px; /* Establece un ancho fijo para las celdas */
    overflow: hidden; /* Asegura que el contenido no desborde */
    text-overflow: ellipsis; /* Muestra '...' si el texto es demasiado largo */
    white-space: nowrap; /* Evita que el texto se divida en varias líneas */
    font-size: 15px; /* Ajusta este valor según lo que necesites */
}

.table input {
    width: 90%; /* Ajusta el ancho de los inputs */
    box-sizing: border-box; /* Incluye padding y borde en el cálculo del ancho */
    padding: 5px; /* Agrega padding para mejor apariencia */
    font-size: 15px; /* Ajusta el tamaño de la fuente de los inputs */
}

.img-fluid {
    max-width: 100%;
    height: auto;
}
