/* Css para el body */
body, html {
    margin: 0; /* Eliminar márgenes predeterminados */
    padding: 0; /* Eliminar padding predeterminado */
    width: 100%;
    height: 100%;
}

.menu {
    position: fixed;
    left: 0;
    top: 0;
    width: 200px; /* Fija el ancho del menú */
    height: 100%;
    background-color: #37474f;
    padding-top: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
    z-index: 10; /* Se asegura de que el menú esté siempre encima */
    overflow-y: auto; /* Permitir desplazamiento vertical si el contenido es más grande que la ventana */
}

.menu h2 {
	font-family: "Homer Simpson UI";
    text-align: center;
    color: #ecf0f1; /* Color blanco para el título */
    font-size: 24px;
    margin-bottom: 20px;
    border-bottom: 1px solid #000000; /* Línea decorativa debajo del título */
    padding-bottom: 10px;
    padding: 15px 20px;
}

.menu a {
	font-family: "Homer Simpson UI";
    display: block;
    padding: 15px 20px; /* Más espacio en los enlaces */
    text-decoration: none;
    color: #ecf0f1; /* Color blanco para mejor contraste */
    margin-bottom: 10px;
    font-size: 18px; /* Tamaño de fuente más grande */
    transition: background-color 0.3s ease, padding-left 0.3s ease; /* Efecto suave al hacer hover */
}

.menu a:hover {
    background-color: #000000; /* Color verde para el hover */
    padding-left: 30px; /* Efecto de desplazamiento a la derecha */
    text-decoration: none;
    color: #ecf0f1;
}

/* Estilos de SubMenu */
.menu-item {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #ecf0f1;
    margin-bottom: 5px;
}

.submenu {
    padding-left: 20px; /* Indent the submenu */
    margin-bottom: 5px;
}

.submenu a {
    color: #ecf0f1; /* Color for submenu items */
    text-decoration: none;
    font-size: 12px;
}
/* Estilo de la barra de desplazamiento */
.menu::-webkit-scrollbar {
    width: 8px; /* Ancho de la barra de desplazamiento */
}

/* Media Queries para pantallas más pequeñas */
@media screen and (max-width: 600px) {
    .menu {
        width: 150px; /* Ajustar el ancho del menú en pantallas pequeñas */
    }

    .menu h2 {
        font-size: 20px; /* Ajustar tamaño de fuente del título */
    }

    .menu a {
        font-size: 16px; /* Ajustar tamaño de fuente de los enlaces */
    }
}

/* Estilo css, para el contenido  de lo que no es el menu */
.content {
	margin-left: 200px; /* Asegura que el contenido respete el ancho del menú */
    padding: 15px;
    width: calc(100% - 200px); /* Asegura que el contenido no ocupe más del ancho restante */
    box-sizing: border-box; /* Incluye padding y border en el cálculo del width */
    position: relative;
    overflow: auto; /* permite el desplazamiento */
}

.h2-container-destinos, .h2-container-mostrar-chofer{
	width: 100%; /* Asegura que el texto ocupe el 100% del ancho disponible */
    text-align: center; /* Centra el texto */
    font-family: "a r i a l", serif;
}

/* Estilo para la section */
.form-section {
    margin-bottom: 80px; /* Aumenta el espacio externo entre secciones */
    padding: 20px; /* Aumenta el espacio interno */
    border: 2px solid #ccc; /* Borde gris de 2px */
    border-radius: 5px; /* Bordes redondeados */
    width: 100%; /* Ajusta el ancho al 100% del contenedor padre */
    max-width: 1000px; /* Máximo ancho para que no sea demasiado grande */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra sutil para darle profundidad */
}

@media (max-width: 600px) {
    .form-section {
        padding: 10px; /* Menos espacio interno en pantallas pequeñas */
        border: 2px solid #ccc; /* Mantiene el borde */
    }

    .form-group.row {
        flex-direction: column; /* Cambia la dirección de las columnas en pantallas pequeñas */
    }

    .col-sm-1, .col-sm-5, .col-sm-10 {
        flex: 0 0 100%; /* Hace que las columnas ocupen todo el ancho en pantallas pequeñas */
    }
}